
.navbar{
    display: flex;
    justify-content: space-around;
    font-family: "Ubuntu";
    position: fixed;
    width: 100%;
    transition: all 0.5s ease;

    &.sticky{
        background-color: white;
        a{
            color: black;
        }

        .icons i{
            color: black;
        }
    }

    ul{
        @include flexCenter(row, space-around, center);
        li{
            margin-right: 60px;

            a{
                color: white;
                font-size: 1.2rem;
            }
        }
    };

    .icons{
        @include flexCenter(row, space-between, center);
        i{
            color: white;
        }
        img{
            margin-top: 10px;
            width: 30%;
        }
    }
}


